<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs'); %>
</head>
<body>
    <%- include('../partials/nav.ejs'); %>
    <% if(allProducts) {%>
        <table class='table table-light'>
            <thead>
              <tr>
                <th class='text-center'>Titulo</th>
                <th class='text-center'>Precio</th>
                <th class='text-center'>Vista previa</th>
                <th class='text-center'>Accion</th>
              </tr>
            </thead>
            <tbody>
                <% for (const object of allProducts) {%> 
                    <tr>
                        <th scope='row' class='ps-4 align-middle text-center'><%= object.title %></th>
                        <td class='text-center align-middle'>$<%= object.price %></td>
                        <td>
                          <div class='image-container text-center'>
                            <img src=<%= object.thumbnail %> alt='Imagen del producto' class='img-thumbnail' width="100" />
                          </div>
                        </td>
                        <td class='text-center'><button class='btn btn-danger'>Eliminar</button></td>
                      </tr>
                <%} %> 
            </tbody>
          </table>
    <%} else {%>
        <h1 class="m-4 text-center">No hay productos</h1>
    <%} %>
</body>
</html>